/* imported fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

/* removing and modifying bootstrap defaults */

input:focus,
button:focus,
.focus {
  box-shadow: none !important;
}

/* general styling */
:root {
  --primary-background: rgba(169, 169, 169, 0.3);
  --primary-color: rgb(92, 186, 95);
  --primary-color-hover: rgb(56, 142, 59);
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

.border-top-3px {
  border-top: 3px solid var(--primary-color-hover) !important;
}

.btn-bg-main {
  background-color: var(--primary-color);
  color: white;
}

.btn-bg-main-hover:hover {
  background-color: var(--primary-color-hover);
  color: white;
}

.navbar {
  background-color: var(--primary-color-hover);
  color: white;
}

.dropdown-menu {
  margin-top: 0.6rem !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.text-justify {
  text-align: justify !important;
}

/* colors */
.text-color {
  color: var(--primary-color);
}

/* shadows */

.box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-hover);
}

/* height and width */

.h-4r {
  height: 4rem !important;
}

/* sizes */
h6 {
  font-size: 15px !important;
}

/* cursors */

.cursor-pointer {
  cursor: pointer;
}

/* queue number watermark */
.queue-number-watermark {
  position: relative;
}

.watermark img {
  display: none;
}

.transaction-number {
  position: relative;
}

p::before {
  content: "*";
  color: red;
  display: inline-block;
  padding-right: 1rem;
}

.overflow-auto {
  overflow: hidden !important;
}

body {
  position: relative;
}

/* .banner {
  position: absolute;
  overflow: hidden;

  object-fit: cover;
  object-position: left;
  z-index: -1;
} */

/* background */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/btechwall.jpg) no-repeat center/cover;
  height: 100vh;
  width: 100vw;
}

/* hide contents on print */

@media print {
  .hidden-print {
    display: none !important;
  }
  .p-5 {
    padding: 1rem !important;
  }
  .m-auto {
    margin: 0 !important;
  }
  .ms-auto {
    margin-left: 0.5rem !important;
  }
  .mt-5 {
    margin-top: 2rem !important;
  }
  .border-top-3px {
    border-top: none !important;
  }
  .box-shadow-1 {
    box-shadow: none !important;
  }
  .text-muted {
    font-family: "Times New Roman", Times, serif !important;
    font-weight: bold !important;
    color: black !important;
    text-align: center !important;
  }
  h3 {
    font-size: 35px !important;
    font-weight: bold;
  }

  h6 {
    font-size: 17px !important;
    font-weight: bold;
  }

  .watermark img {
    display: flex;
    position: absolute;
    top: 0%;
    left: 5%;
    height: 1.7rem;
    width: 1.7rem;
    opacity: 100%;
  }
}

@media (max-width: 575px) {
  .overflow-auto {
    overflow: auto !important;
  }
}
